---
const { 
  logo,
  title, 
  text, 
  mockup, 
  items, 
  details, 
  mockupImage, 
  metodologyText, 
  colorVariant} = Astro.props;

import { Image } from 'astro:assets';
import Button from '@/components/atoms/Button.astro';
import Arrow from '@/assets/arrow-down.svg';
import Face from '@/assets/face.svg';

---

<section class="project">
    <div class="project__logo-wrapper">
      <Image src={logo} alt={title} class="project__logo" />
    </div>
    <p class="project__text" set:html={text}></p>

  <div>
    <Image height={376} class={`project__mockup project__mockup--${colorVariant}`} src={mockup} alt="mockup-varios"/>
  
    <section class="project__grid">
      {items.map((item: any) => (
        <div class="project__grid__item">
          <h3 class="project__grid__item__title">{item.title}</h3>
          <p class="project__grid__item__text">{item.text}</p>
        </div>
      ))}
    </section>

    <Button
    class="project__button"
    label="Ir al prototipo"
    onClick="location.href='http://www.example.com'"
    target="_blank"
    />
  </div>

  <section class="project__grid-2">
    {details.map((detail: any) => (
      <div class="project__grid-2__item">
        <h3 class="project__grid-2__item__title">{detail.title}</h3>
        <p class="project__grid-2__item__text">{detail.text}</p>
      </div>
    ))}
  </section>
  
  <Image class={`project__container-image project__container-image--${colorVariant}`} src={mockupImage} alt="mockup"/>

  <section class="project__metodology">
    <h3 class="project__metodology__title">Metodología de trabajo</h3>
    <p class="project__metodology__text">{metodologyText}</p>
  </section>

  <Face class="project__face"/>

  <!-- <section class="project__continue">
    <p class="project__continue-text">
      Haz clic si quieres ver una versión extendida del proyecto
    </p>

    <Arrow width={62} class="project__continue-icon" />

    <button 
      type="button"
      class="project__button"
      aria-label="Ver fases del proyecto">
      Fases del proyecto
    </button>

    <p class="project__continue-note">
      Si prefieres una versión más corta, esto es <span style="text-transform: uppercase;">{title}</span>
    </p>
  </section> -->
</section>

<style scoped lang="scss">
.project {
  width: 100%;
  margin-top: 12rem;
  margin-bottom: 8rem;
  padding-inline: 4.5rem;

  &__logo-wrapper {
    width: 32rem;        // ancho máximo uniforme
    height: 12rem;       // altura máxima uniforme
    display: flex;
    // justify-content: center;
    // align-items: center;
    overflow: hidden;    // recorta si es más grande
    // margin: 0 auto 1.5rem auto;
    margin-bottom: 2rem;
  }

  &__logo {
    max-width: 100%;
    height: auto;
    object-fit: contain; // mantiene proporción sin deformarse
    display: block;
  }

  &__text {
    font-size: $font-size-xl;
    margin: 0 auto;
    font-family: $font-poppins;;
    color: var(--accent-color);
  }

   &__face {
    display: block;
    margin: 14rem auto 10rem auto;
  }

  &__mockup {
    width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 2rem 2rem 0 2rem;
    background-color: $color-blue-light;

    &--red-light {
      background-color: $color-red-light;
    }

    &--yellow-light {
      background-color: $color-yellow-light;
    }

    &--blue-light {
      background-color: $color-blue-light;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    margin-bottom: 6.25rem;
    font-family: $font-poppins;;


    &__item {
      padding-top: 1.5rem;

      &__title {
        font-size: $font-size-lg;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      &__text {
        font-size: $font-size-md;
        font-weight: 300;
      } 
    }
  }


  &__grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    font-family: $font-poppins;
    margin-bottom: 3.5rem;



    &__item {
      &__title {
        font-size: $font-size-lg;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      &__text {
        font-size: $font-size-md;
        font-weight: 300;
      } 
    }
  }

  &__container-image {
    width: 40rem;
    height: 30rem;
    display: block;
    border-radius: 1rem;
    margin: auto;
    margin-bottom: 4rem;
    background-color: $color-blue-light;

    &--red-light {
      background-color: $color-red-light;
    }

    &--yellow-light {
      background-color: $color-yellow-light;
    }

    &--blue-light {
      background-color: $color-blue-light;
    }
  }

  &__metodology {
    font-family: $font-poppins;

    &__title {
      font-size: $font-size-2xl;
      // font-weight: 600;
      margin-bottom: 1rem;
    }
    &__text {
      font-size: $font-size-md;
      font-weight: 300;
    }
  }

  // &__continue {
  //   display: flex;
  //   flex-direction: column;
  //   align-items: center;
  //   text-align: center;
  //   margin-top: 5rem;
  //   color: $color-red;

  //   &-text {
  //     width: 22rem;
  //     font-size: $font-size-md;
  //     margin-bottom: 1rem;
  //   }

  //   &-icon {
  //     margin-bottom: 1rem;
  //   }

  //   &-note {
  //     font-size: $font-size-sm;
  //   }
  // }

  // &__button {
  //   padding: 0.5rem 1rem;
  //   border: none;
  //   margin: 0rem auto 6.25rem auto;  
  // }

  :global(.project__button) {
    margin: 0 auto 6.25rem auto;
    display: block;
  }

  @media (max-width: 768px) {
    // width: 100%;
    padding-inline: 2rem;

    &__logo-wrapper {
      width: 10rem;        
      height: auto;
      margin-bottom: 1rem;
    }

    &__text {
      font-size: $font-size-xs;
    }

    &__grid {
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 4rem;
      gap: 1rem;
    }

    &__grid-2 {
      grid-template-columns: 1fr;
      gap: 2rem;
      margin-bottom: 3rem;
    }

    &__container-image {
      width: 100%;
      height: auto;
      margin-bottom: 3rem;
    }
  }

}

:global(.project__button) {
  margin: 0 auto 6.25rem auto;
}
</style>
