---
const { 
  logo,
  title, 
  text, 
  mockup, 
  items, 
  details, 
  mockupImage, 
  metodologyText, 
  colorVariant} = Astro.props;

import { Image } from 'astro:assets';

---

<section class="project-header">
  <Image src={logo} alt={title} class="project-header__logo" />
  <p class="project-header__text">{text}</p>
  <div>
    <Image height={376} class={`project-header__mockup project-header__mockup--${colorVariant}`} src={mockup} alt="mockup-varios">
  
    <section class="project-header__grid">
      {items.map((item: any) => (
        <div class="project-header__grid__item">
          <h3 class="project-header__grid__item__title">{item.title}</h3>
          <p class="project-header__grid__item__text">{item.text}</p>
        </div>
      ))}
    </section>

    <button 
      onclick="location.href='http://www.example.com'"
      type="button"
      class="project-header__button">
        Ir al prototipo
    </button>
  </div>

  <section class="project-header__grid-2">
    {details.map((detail: any) => (
      <div class="project-header__grid-2__item">
        <h3 class="project-header__grid-2__item__title">{detail.title}</h3>
        <p class="project-header__grid-2__item__text">{detail.text}</p>
      </div>
    ))}
  </section>
  
  <Image class={`project-header__container-image project-header__container-image--${colorVariant}`} src={mockupImage} alt="mockup"/>

  <section class="project-header__metodology">
    <h3 class="project-header__metodology__title">Metodología de trabajo</h3>
    <p class="project-header__metodology__text">{metodologyText}</p>
  </section>

  <button 
      type="button"
      class="project-header__button">
        Fases del proyecto
    </button>

    <p>Haz click si quieres ver una versión extendida del proyecto</p>


    <p>Si prefieres una versión más corta, esto es <span style="text-transform: uppercase;">{title}</span></p>
</section>

<style lang="scss" scoped>
.project-header {
  margin-block: 4rem;
  margin-inline: 4.5rem;

  &__logo {
    width: 32rem;
    height: auto;
    margin-bottom: 1.5rem;
  }

  &__text {
    font-size: $font-size-xl;
    margin: 0 auto;
    font-family: $font-poppins;;
    color: var(--accent-color);
  }

  &__mockup {
    width: 100%;
    height: auto;
    margin-top: 3rem;
    margin-bottom: 2rem;
    border-radius: 1rem;
    padding: 2rem 2rem 0 2rem;
    background-color: $color-yellow-light;

    &--red-light {
      background-color: $color-red-light;
    }

    &--yellow-light {
      background-color: $color-yellow-light;
    }

    &--blue-light {
      background-color: $color-blue-light;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    // margin: 4rem 0;
    font-family: $font-poppins;;


    &__item {
      padding-top: 1.5rem;

      &__title {
        font-size: $font-size-lg;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      &__text {
        font-size: $font-size-md;
        font-weight: 300;
      } 
    }
  }


  &__grid-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    font-family: $font-poppins;
    margin-bottom: 3.5rem;



    &__item {
      &__title {
        font-size: $font-size-lg;
        font-weight: 600;
        margin-bottom: 1rem;
      }

      &__text {
        font-size: $font-size-md;
        font-weight: 300;
      } 
    }
  }

  &__container-image {
    width: 40rem;
    height: 30rem;
    display: block;
    border-radius: 1rem;
    margin: auto;
    margin-bottom: 4rem;
    background-color: $color-blue-light;

    &--red-light {
      background-color: $color-red-light;
    }

    &--yellow-light {
      background-color: $color-yellow-light;
    }

    &--blue-light {
      background-color: $color-blue-light;
    }
  }

  &__metodology {
    font-family: $font-poppins;

    &__title {
      font-size: $font-size-xl;
      font-weight: 600;
      margin-bottom: 1rem;
    }
    &__text {
      font-size: $font-size-md;
      font-weight: 300;
    }

  }

  &__button {
    padding: 0.5rem 1rem;
    border-radius: 500px;
    border: none;
    background-color: $color-black;
    color: $color-white;
    font-family: $font-poppins;
    font-size: $font-size-md;
    display: block;
    margin: 7rem auto 6rem auto;  
  }

}
</style>
