---
const { 
  titleMethodology, 
  phases, 
  boxPhases,
  backgroundColorContainer = 'var(--color-blue-light)'
  } = Astro.props;

import BoxPhase from './BoxPhase.astro';
import PhaseContainer from './PhaseContainer.astro';

const slotNames = ["phase1","phase2", "phase3", "phase4"];

---

<section id="phases-container" class="project-phases project-phase__extended">
  <h3 class="project-phases__title">{titleMethodology}</h3>
  <div class="project-phases__box-container">
    {boxPhases.map((boxPhase:any) => (
      <BoxPhase 
        color={boxPhase.color}
        icon={boxPhase.icon} 
        text={boxPhase.text} />
    ))}
  </div>
  {phases.map((phase:any, index: number) => (
    <PhaseContainer
    title={phase.title}
    text={phase.text}
    text2={phase.text2}
    color={backgroundColorContainer}
    titleWrapper={phase.titleWrapper}
    reverse={phase.reverse}>
      {index === 0 && <slot name="phase1" />}
      {index === 1 && <slot name="phase2" />}
      {index === 2 && <slot name="phase3" />}
      {index === 3 && <slot name="phase4" />}    
    </PhaseContainer>
  ))}
</section>

<style lang="scss" scoped>

.project-phases {
  // width: 100%;
  // display: none;
  margin-inline: 4.5rem;
  opacity: 1;
  transition: opacity .3s ease, display .3s ease allow-discrete; 

  &__title {
    font-size: $font-size-xl;
    font-family: $font-poppins;
    margin-bottom: 5rem;
  }

  &__box-container {
    display: flex;
    gap: 4rem;
    justify-content: center;
    // margin-top: 2rem;
  }
}

.show {
  opacity: 1;
  display: block;
}

</style>
