---
const { 
  bgColorImg,
  images, 
  textCaseStudy, 
  points, 
  columns
 
  } = Astro.props;

import Flower from '@/assets/flower-blue.svg';
import Face from '@/assets/face.svg';
import MasonryShowcase from '@/components/molecules/projects/MasonryShowcase.astro';
import Button from '@/components/atoms/Button.astro';


---

<section class="project-phase">
  <section class="project-phase__case-study">
    <h3 class="project-phase__case-study__title">Resumen de caso de estudio</h3>
    <p class="project-phase__case-study__text" set:html={textCaseStudy}></p>
  </section>
  <section class="project-phase__flower-list">
    <ul class="project-phase__flower-list__container">
      {points.map((point: any) => (
        <li class="project-phase__flower-list__item">
          <Flower class="project-phase__flower-list__icon" />
          <div><h4 class="project-phase__flower-list__title">{point.title}</h4>
          <p class="project-phase__flower-list__text">{point.text}</p>
          </div>
        </li>
      ))}
    </ul>
  </section>

  <MasonryShowcase bgColorImg={bgColorImg} images={images} columns={columns}/>

  <section class="project-phase__continue">
    <Face/>
    <p class="project-phase__continue-text">
      Haz clic si quieres ver una versión extendida del proyecto
    </p>

    <Button
      class="project-phase__button"
      label="Fases del proyecto"
      id="toggle-phases"
    />
    
    <script>
      const toggleBtn = document.getElementById('toggle-phases');
      const container = document.getElementById('phases-container');
    
      toggleBtn?.addEventListener('click', () => {
        container?.classList.toggle('show');
      });
    </script>
  </section>  

</section>

<style lang="scss" scoped>

.project-phase {
  margin-inline: 4.5rem;

  &__case-study {
    font-family: $font-poppins; 

    &__title {
      font-size: $font-size-xl;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    &__text {
      font-size: $font-size-md;
    }
  }

  &__flower-list {
    display: flex;
    justify-content: center;
    margin-block: 5rem;
    font-family: $font-poppins; 


    &__container {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      gap: 2rem;
      width: 100%;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: $font-size-md;
    }

    &__icon {
      width: 1.5rem;
      height: auto;
      flex-shrink: 0;
    }

    &__title {
      font-weight: 400;
    }

    &__text {
      font-size: $font-size-md;
      color: $color-gray-light;
      font-weight: 300;
    }
  }

  &__continue {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15rem;
    color: $color-red;
    margin-bottom: 18rem;

    &-text {
      width: 22rem;
      font-size: $font-size-md;
      margin-top: 2rem;
      margin-bottom: 5rem;
    }

    &-icon {
      margin-bottom: 1rem;
    }

    &-note {
      font-size: $font-size-base;
      margin-top: 6rem;
      margin-bottom: 8rem;
    }
  }

}
</style>
