---
const { 
  bgColorImg,
  images, 
  textCaseStudy, 
  points, 
  title
 
  } = Astro.props;

import Flower from '@/assets/flower-blue.svg';
import Face from '@/assets/face.svg';
import MasonryShowcase from '@/components/molecules/projects/MasonryShowcase.astro';
import Arrow from '@/assets/arrow-down.svg';


---

<section class="project-phase">
  <section class="project-phase__case-study">
    <h3 class="project-phase__case-study__title">Resumen de caso de estudio</h3>
    <p class="project-phase__case-study__text" set:html={textCaseStudy}></p>
  </section>
  <section class="project-phase__flower-list">
    <ul class="project-phase__flower-list__container">
      {points.map((point: any) => (
        <li class="project-phase__flower-list__item">
          <Flower class="project-phase__flower-list__icon" />
          <div><h4 class="project-phase__flower-list__title">{point.title}</h4>
          <p class="project-phase__flower-list__text">{point.text}</p>
          </div>
        </li>
      ))}
    </ul>
  </section>

  <MasonryShowcase bgColorImg={bgColorImg} images={images}/>

  <section class="project-phase__continue">
    <p class="project-phase__continue-text">
      Haz clic si quieres ver una versión extendida del proyecto
    </p>

    <Arrow width={62} class="project-phase__continue-icon" />

    <button 
      type="button"
      class="project-phase__button"
      aria-label="Ver fases del proyecto"
      id="toggle-phases">
      Fases del proyecto
    </button>
    
    <script>
      const toggleBtn = document.getElementById('toggle-phases');
      const container = document.getElementById('phases-container');
    
      toggleBtn?.addEventListener('click', () => {
        container?.classList.toggle('show');
      });
    </script>

    <!-- <p class="project-phase__continue-note">
      Si prefieres una versión más corta, esto es <span style="text-transform: uppercase;">{title}</span>
    </p> -->
  </section>  
 
</section>

<style lang="scss" scoped>

.project-phase {
  margin-inline: 4.5rem;

  &__case-study {
    font-family: $font-poppins; 

    &__title {
      font-size: $font-size-2xl;
    }

    &__text {
      font-size: $font-size-base;
    }
  }

  &__flower-list {
    display: flex;
    justify-content: center;
    margin-block: 5rem;
    font-family: $font-poppins; 


    &__container {
      list-style: none;
      padding: 0;
      margin: 0;
      display: grid;
      gap: 2rem;
      width: 100%;
    }

    &__item {
      display: flex;
      align-items: center;
      gap: 1rem;
    }

    &__icon {
      width: 1.5rem;
      height: auto;
      flex-shrink: 0;
    }

    &__text {
      font-size: 1rem;
      color: $color-gray-light;
    }
  }

  // &__face {
  //   display: block;
  //   margin: 12rem auto 14rem auto;
  // }

  &__continue {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 5rem;
    color: $color-red;

    &-text {
      width: 22rem;
      font-size: $font-size-md;
      margin-bottom: 1rem;
    }

    &-icon {
      margin-bottom: 1rem;
    }

    // &-note {
    //   font-size: $font-size-sm;
    // }
  }

  &__button {
    padding: 0.5rem 1rem;
    border-radius: 500px;
    border: none;
    background-color: $color-black;
    color: $color-white;
    font-family: $font-poppins;
    font-size: $font-size-md;
    display: block;
    margin: 0rem auto 6.25rem auto; 
    cursor: pointer; 

    &:hover {
      background-color: darken($color-black, 10%);
    }
  }

}
</style>
