---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import homiLogo from '@/assets/homi-logo.png';
import homiMockup from '@/assets/homi-mockup.png';
import homiPhone from '@/assets/homi-phone.png';
import homiUser from '@/assets/homi-user.png';
import homiUser2 from '@/assets/homi-user-2.png';
import homiJourney from '@/assets/homi-journey.png';
import homiLightning from '@/assets/homi-lightning.png';
import homiCrazy from '@/assets/homi-crazy.png';
import homiCorp from '@/assets/homi-corp.png';
import homiPrototipo from '@/assets/homi-prototipo.png';
import homiWireframes from '@/assets/homi-wireframes.png';
import logoMaze from '@/assets/logo-maze.png';
import homiInteraction from '@/assets/homi-interaction.png';
import homiMazeScreen from '@/assets/homi-maze-screen.png';
import homiMazeScreen2 from '@/assets/homi-maze-screen-2.png';
import Home from '@/assets/homi-home.svg';

import { Image } from 'astro:assets';

import ProjectHeader from '@/components/molecules/projects/ProjectHeader.astro';
import ProjectCases from '@/components/molecules/projects/ProjectCases.astro';
import ProjectPhases from '@/components/molecules/projects/ProjectPhases.astro';
import Carousel from '@/components/atoms/Carousel.vue';
import TableBlock from '@/components/atoms/TableBlock.astro';

import Heart from '@/assets/heart.svg';
import Lens from '@/assets/lens.svg';
import Pencil from '@/assets/pencil.svg';
import Phone from '@/assets/phone.svg';
import Bulb from '@/assets/bulb.svg';

import homiMk1 from '@/assets/homi-mk-1.png';
import homiMk2 from '@/assets/homi-mk-2.png';
import homiMk3 from '@/assets/homi-mk-3.png';
import homiMk4 from '@/assets/homi-mk-4.png';
import homiMk5 from '@/assets/homi-mk-5.png';
import homiMk6 from '@/assets/homi-mk-6.png';
import homiMk7 from '@/assets/homi-mk-7.png';
import homiMk8 from '@/assets/homi-mk-8.png';
import homiMk9 from '@/assets/homi-mk-9.png';
import homiMk10 from '@/assets/homi-mk-10.png';
import homiMk11 from '@/assets/homi-mk-11.png';
import homiMk12 from '@/assets/homi-mk-12.png';
import homiMk13 from '@/assets/homi-mk-13.png';
import homiMk14 from '@/assets/homi-mk-14.png';
import homiMk15 from '@/assets/homi-mk-15.png';


const gridItems = [
  { title: 'Habilidad', text: 'UX Research, UI Design, Prototyping, Testing' },
  { title: 'Metodología', text: 'Diseño UX/UI' },
  { title: 'Herramientas', text: 'Figma, Whimsical, Maze' },
  { title: 'Servicio', text: 'Diseño UX/UI, Mobile Design' },
];

const details = [
  { title: 'Challenge', text: "Debido a la situación actual del mercado de la vivienda, en España el 70% de los jóvenes que se independizan optan por <span class='color-accent-red'> compartir piso </span>, una solución práctica que, sin embargo, puede <span class='color-accent-red'> generar conflictos derivados de diferentes hábitos y estilos de vida</span>"},
  { title: 'Objetivo', text: "Diseñar una solución digital que <span class='color-accent-red'>facilite la convivencia entre compañeros de piso</span>, mejorando la comunicación, la organización y la gestión de tareas compartidas para reducir conflictos y crear un entorno más equilibrado y positivo" },
];

const phasesBox = [
  {
    icon: Heart,
    color: 'var(--color-blue-light)',
    text: 'Empatizar',
  },
  {
    icon: Bulb,
    color: 'var(--color-blue-light)',
    text: 'Idear',
  },
  {
    icon: Pencil,
    color: 'var(--color-blue-light)',
    text: 'Decidir',
  },
  {
    icon: Phone,
    color: 'var(--color-blue-light)',
    text: 'Prototipar',
  },
  {
    icon: Lens,
    color: 'var(--color-blue-light)',
    text: 'Testear',
  },
];

const points = [
  {
    title: "Identidad visual cálida y acogedora:",
    text: "Los colores suaves y los acentos vibrantes transmiten cercanía y energía. Homi se siente como un hogar: organizado, pero lleno de vida.",
  },
  {
    title: "Pantallas que invitan a participar:",
    text: "Cada sección <span class='color-accent-red'>—actividades, gastos, perfil y chat—</span> está diseñada para ser clara y motivadora. La interfaz guía sin imponerse, fomentando la colaboración entre compañeros de piso.",
  },
  {
    title: "Construido como un sistema:",
    text: "Bloques modulares y consistentes que funcionan en todas las pantallas. Escalable, sencillo y adaptable a nuevas funcionalidades.",
  },
  {
    title: "Gamificación que conecta:",
    text: "Puntos, recompensas y logros transforman la rutina en motivación. Cada interacción suma, reforzando dinámicas positivas y la sensación de comunidad.",
  },
]

const imagesMasonry = [
  { src: homiMk1},
  { src: homiMk2 },
  { src: homiMk3 },
  { src: homiMk4 },
  { src: homiMk5 },
  { src: homiMk6 },
  { src: homiMk14 },
  { src: homiMk7 },
  { src: homiMk8 },
  { src: homiMk9 },
  { src: homiMk10 },
  { src: homiMk11 },
  { src: homiMk12 },
  { src: homiMk13 },
  { src: homiMk15 },
];

const phasesData = [
  {
    title: "Fase 1: Empatizar",
    text: "Nos enfocamos en entender el reto y el contexto, formulando preguntas clave para guiar el proceso.",
    text2: "Realizamos <span class='color-accent-blue-electric'>brainstorming</span>, creamos un <span class='color-accent-blue-electric'>journey map</span> para visualizar la experiencia del usuario, definimos oportunidades con <span class='color-accent-blue-electric'>“How might we?”</span> y desarrollamos perfiles de personas que representan a nuestros usuarios.",
    tables: [
      { 
        rows: [ 
          "Crear una app o tablero digital para dejar mensajes",
          "Chat interno con recordatorios automáticos sobre gastos",
          "Un sistema de “estado de ánimo del piso”",
          "Espacio semanal para hablar sobre convivencia"
        ],
        headerText: "Comunicación" 
      },
      { 
        rows: [
          "Gamificación: puntos o recompensas por cumplir tareas",
          "Agenda compartida con calendario de limpieza",
          "Rueda de tareas automatizada (rotación visual y notificaciones)",
          "Listas colaborativas para el mantenimiento del piso"
        ], 
        headerText: "Organización y tareas", 
        headerColor: "var(--color-blue-electric)" 
      },
      { 
        rows: [
          "App integrada para dividir gastos automáticamente",
          "Historial visual de pagos y deudas pendientes",
          "Recordatorios para pagos de suministros o alquiler",
          "Panel mensual de gastos del piso (transparente y compartido)"
        ], 
        headerText: "Gestión económica" 
      },
    ],
    table2: [
      { 
        rows: [ 
          "¿Cómo podríamos fomentar la comunicación efectiva para resolver conflictos rápidamente?",
          "¿Cómo podríamos motivar la participación de todos en las tareas y responsabilidades del hogar?",
          "¿Cómo podríamos crear dinámicas divertidas y positivas que refuercen la convivencia?",
        ],
        headerText: "3 mejores HMW" 
      },
    ],
    table3: [
      { 
        rows: [ 
          "¿Cómo podemos ayudar a los compañeros de piso a comunicarse mejor y entenderse?",
          "¿Qué herramientas o dinámicas fomentan una convivencia positiva y saludable?",
          "¿Cómo podemos reducir conflictos derivados de diferencias de hábitos y personalidades?",
        ],
        headerText: "3 mejores preguntas" 
      },
    ],
  },
  {
    title: "Fase 2: Idear",
    text: "Exploramos referencias y soluciones existentes mediante <span class='color-accent-blue-electric'>lightning demos</span> y definimos la <span class='color-accent-blue-electric'>identidad corporativa</span>. Y, terminamos con un repaso general y aplicamos la técnica <span class='color-accent-blue-electric'>Crazy 8s</span> para generar distintas ideas y enfoques creativos.",
    reverse: true,
    tables: [
      { 
        rows: [ 
          "Temporizador Pomodoro: funcional y personalizable",
          "Cachorro virtual básico: crecimiento ligado a sesiones completadas",
          "Feedback visual y recompensas: animaciones y mensajes motivadores al completar Pomodoro"
        ],
        headerText: "Funcionalidades claves" },
      { 
        rows: [
          "Se descartaron funciones secundarias como personalización avanzada de cachorros o integración social hasta validar el MVP",
        ], 
        headerText: "Decisiones importantes", 
        headerColor: "var(--color-blue-electric)" 
      },
    ],
  },
  {
    title: "Fase 3: Decidir",
    titleWrapper: "Objetivos después de la votación Crazy8",
    text: "Llevamos a cabo un proceso de votación para seleccionar las ideas más viables para el diseño de la aplicación a través de la técnica <span class='color-accent-blue-electric'>Crazy 8s.</span>",
    table: [
      { 
        rows: [ 
          "Fomentar la interacción social, facilitar la organización y actividades que fomenten la convivencia",
          "Crear un entorno de diversión para que los compañeros de piso puedan disfrutar de retos amistosos",
          "Gestionar su tiempo compartido de forma productiva de actividades sociales como las tareas doméstica",
        ],
        headerText: "Objetivos de la app" 
      },
    ],
  },
  {
    title: "Fase 4: Diseño y creación de prototipos",
    text: "Hecemos los wireframes con la herramienta <span class='color-accent-blue-electric'>Whimsical</span> y diseñamos el prototipo de alta fidelidad <span class='color-accent-blue-electric'>con la herramienta Figma.</span>",
    reverse: true,
  },
  {
    title: "Fase 5: Testear",
    text: "Se realizaron tests de usabilidad y motivación para validar si las hipótesis se cumplían y la experiencia era efectiva <span class='color-accent-blue-electric'>con la herramienta Maze.</span>",
    tables: [
      { 
        rows: [ 
          "Alta tasa de éxito (92.9%), lo que demuestra que el flujo de interacción fue claro, coherente y fácil de seguir",
          "Bajo abandono (7.1%), señal de que la experiencia mantiene la atención del usuario y no genera frustración",
          "Tiempo medio (29.4s) indica eficiencia: los usuarios completan las tareas con rapidez y sin bloqueos",
        ],
        headerText: "Feedback positivo" 
      },
      { 
        rows: [
          "El flujo fue comprendido, pero algunos usuarios mostraron dudas leves en ciertos pasos, como al interpretar iconos",
          "Hubo una pequeña variación en los tiempos de finalización, lo que podría indicar distintos niveles de familiaridad con la interfaz",
          "Algunos elementos podrían beneficiarse de microinteracciones o señales visuales más claras",
        ], 
        headerText: "Feedback regular", 
        headerColor: "var(--color-blue-electric)" 
      },
      { 
        rows: [
          "Tasa de misclicks del 17.6%, lo que refleja errores de precisión o confusión en la jerarquía visual",
          "Algunos botones o enlaces se percibieron demasiado próximos o poco diferenciados, provocando clics accidentales",
          "Los usuarios no recibieron confirmación inmediata de acción, generando cierta incertidumbre",
        ], 
        headerText: "Feedback negativo" 
      },
    ],
    table2: [
      { 
        rows: [ 
          "Asistente de convivencia: Una mini IA o asistente que sugiera soluciones cuando surjan conflictos",
          "Modo accesible o simplificado: Una versión con contrastes altos y botones más grandes para mejorar la usabilidad",
          "Modo “Room Insights”: Un panel que muestre estadísticas y hábitos compartidos",
        ],
        headerText: "Oportunidades de mejora" 
      },
    ],
  },
];
---

<ProjectLayout currentProjectId={1}>
  <ProjectHeader 
  logo={homiLogo}
  title="Homi"
  text="Aplicación para <strong>promover una experiencia de convivencia positiva y organizada</strong> entre compañeros de piso"
  mockup={homiMockup}
  items={gridItems}
  details={details}
  colorVariant="yellow-light"
  metodologyText="El proceso de investigación y diseño de la aplicación se llevó a cabo mediante la <span class='color-accent-red'>metodología Design Sprint</span> , un proceso intensivo que ayuda a resolver problemas y desarrollar soluciones eficaces de forma rápida y eficiente."
  mockupImage={homiPhone}
  colorFirstText="#013B94"
  prototypeLink="https://www.figma.com/design/A9bcvwpfxOE12wF2F2OMHc/HOMI?node-id=2049-22&t=OIjLeG3WxWjhIIAV-1"/>


  <ProjectCases 
  textCaseStudy="HOMI es una app diseñada para <span class='color-accent-red'>mejorar la convivencia entre compañeros de piso</span> a través de la gamificación y la organización compartida. Su objetivo es fomentar dinámicas positivas y equilibradas mediante <span class='color-accent-red'>actividades grupales, gestión de gastos y comunicación efectiva.</span>"
  points={points}
  images={imagesMasonry}
  columns={4}
  title="Homi"
  bgColorImg="var(--color-yellow-light)"
  icon={Home}
  />

  <ProjectPhases 
    titleMethodology="Metodología Design Sprint" 
    boxPhases={phasesBox} 
    phases={phasesData}
    backgroundColorContainer="var(--color-yellow-light)">

    <Fragment slot="phase1">
      <Carousel slides={5} autoplay={false} interval={8000} client:load>
        <div class="phase-container__project-wrapper" slot="slide-0">
          <h5 class="phase-container__title">Brainstorming</h5>
          <div class="phase-container__container-wrapper">
            {phasesData[0].tables && phasesData[0].tables.map((table) => (
              <TableBlock
                rows={table.rows}
                headerText={table.headerText}
                headerColor={table.headerColor}
              />
            ))}
          </div>
        </div>
        <div class="phase-container__project-wrapper" slot="slide-1">
          <h5 class="phase-container__title">How Might We</h5>
          {phasesData[0].table2 && phasesData[0].table2.map((table) => (
            <TableBlock
              rows={table.rows}
              headerText={table.headerText}
            />
          ))}
        </div>
        <div class="phase-container__project-wrapper" slot="slide-2">
          <h5 class="phase-container__title">Sprint Question</h5>

          {phasesData[0].table3 && phasesData[0].table3.map((table) => (
            <TableBlock
              rows={table.rows}
              headerText={table.headerText}
            />
          ))}        
        </div>
        <div class="phase-container__project-wrapper" slot="slide-3">
          <h5 class="phase-container__title">User Persona</h5>
          <div class="carousel__image-container">
            <figure class="carousel__image-wrapper__m">
                <Image class="slide__image" src={homiUser} alt="Slide 1" />
            </figure>

            <figure class="carousel__image-wrapper__m">
              <Image class="slide__image" src={homiUser2} alt="Slide 1" />
            </figure>
          </div>
        </div>
        <div class="phase-container__project-wrapper" slot="slide-4">
          <h5 class="phase-container__title">Journey Map - Marcos</h5>
          <div class="carousel__image-container">
            <figure class="carousel__image-wrapper__l">
              <Image class="slide__image" src={homiJourney} alt="journey" />
            </figure>
          </div>
        </div>
      </Carousel>
    </Fragment>
  
    <Fragment slot="phase2">
      <Carousel slides={3} autoplay={false} interval={8000} client:load>
        <div class="phase-container__project-wrapper" slot="slide-0">
            <h5 class="phase-container__title">Lightning Demos</h5>
            <div class="carousel__image-container">
              <figure class="carousel__image-wrapper__l">
                  <Image class="slide__image" src={homiLightning} alt="Slide 1" />
              </figure>
            </div>
          </div>
        </div>
        <div class="phase-container__project-wrapper" slot="slide-1">
          <h5 class="phase-container__title">Identidad corporativo</h5>
          <div class="carousel__image-container">
            <figure class="carousel__image-wrapper__l">
                <Image class="slide__image" src={homiCorp} alt="Slide 1" />
            </figure>
          </div>
        </div>
      </div>
      <div class="phase-container__project-wrapper" slot="slide-2">
          <h5 class="phase-container__title">Crazy 8S</h5>
          <div class="carousel__image-container">
            <figure class="carousel__image-wrapper__l">
                <Image class="slide__image" src={homiCrazy} alt="Slide 1" />
            </figure>
          </div>
        </div>
      </div>
      </Carousel>
    </Fragment>
  
    <Fragment slot="phase3">
      {phasesData[2].table && phasesData[2].table.map((table) => (
        <TableBlock
          rows={table.rows}
          headerText={table.headerText}
        />
      ))}   
    </Fragment>

    <Fragment slot="phase4">
      <Carousel slides={2} autoplay={false} interval={4000} client:load>
        <div class="phase-container__project-wrapper" slot="slide-0">
          <h5 class="phase-container__title">Prototipo</h5>
          <div class="carousel__image-container">
            <figure class="carousel__image-wrapper__xl">
                <Image class="slide__image" src={homiPrototipo} alt="Homi Prototipo" />
            </figure>
          </div>
        </div>
        <div class="phase-container__project-wrapper" slot="slide-1">
          <h5 class="phase-container__title">Prototipo</h5>
          <div class="carousel__image-container">
            <figure class="carousel__image-wrapper">
                <Image class="slide__image" src={homiWireframes} alt="Homi Prototipo" />
            </figure>
          </div>
        </div>
      </Carousel>
    </Fragment>

    <Fragment slot="phase5">
      <Carousel slides={3} autoplay={false} interval={4000} client:load>
        <div class="phase-container__project-wrapper" slot="slide-0">
          <h5 class="phase-container__title">Testing</h5>
          <div class="phase-container__container-wrapper">
            <figure class="phase-container__image">
              <Image src={homiInteraction} alt="Prototipo completo de Pomodog"  />
            </figure>

            <div class="phase-container__maze-container">
              <div class="phase-container__maze-container__images">
                <figure class="phase-container__image--logo">
                  <Image src={logoMaze} alt="Logo Maze"  />
                </figure>
                <figure class="phase-container__image--screen-1">
                  <Image src={homiMazeScreen} alt="Maze screen"  />
                </figure>
                <figure class="phase-container__image--screen-2">
                <Image src={homiMazeScreen2} alt="Maze screen"  />
                </figure>
              </div>
              <p>Mayor atención en el área del “Reto semanal” y la sección de “Gastos”</p>
              <p>Interacción media en “Planifica tu semana”</p>
              <p>Zonas inferiores como “Actividades recomendadas” reciben menos atención</p>
            </div>
          </div>
        </div>
        <div class="phase-container__project-wrapper" slot="slide-1">
          <h5 class="phase-container__title">Sprint Question</h5>
          <div class="phase-container__container-wrapper">
            {phasesData[4].tables && phasesData[4].tables.map((table) => (
              <TableBlock
                rows={table.rows}
                headerText={table.headerText}
              />
            ))} 
          </div>       
        </div>

        <div class="phase-container__project-wrapper" slot="slide-2">
          <h5 class="phase-container__title">Futuribles</h5>
            {phasesData[4].table2 && phasesData[4].table2.map((table) => (
              <TableBlock
                rows={table.rows}
                headerText={table.headerText}
              />
            ))}      
        </div>
        
      </Carousel>

    </Fragment>

  </ProjectPhases>

</Layout>

<style lang="scss">
.phase-container{
  width: 100%;
  &__project-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 2rem;

      // &--row {
      //   display: flex;
      //   flex-direction: row;
      //   align-items: center;
      //   justify-content: center;
      // }
    }

  &__title {
    font-family: $font-poppins;
    font-size: $font-size-lg;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  &__container-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
  }

  &__image {
    width: 100%;
    max-width: 12rem;
    height: auto;
    margin-bottom: 1rem;

    &--logo {
      width: 6.25rem;
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
    &--screen-1,
    &--screen-2 {
      width: 100%;
      max-width: 300px;
      height: auto;
      margin-bottom: .5rem;
    }
  }

  &__maze-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: $font-poppins;
    margin-left: 2rem;
    width: 50%;

    &__images {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // gap: 1rem;
      margin-bottom: 1rem;
    }
  }
}
  // .slide__image {
  //   width: 20rem;
  //   height: auto;
  //   margin-bottom: 0rem;

  // }

  .carousel__image-container {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

  /* Wrapper que controla el tamaño de la imagen */
.carousel__image-wrapper {
  width: 40%; /* tu tamaño deseado */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;

  &__l {
    width: 70%;
  }

  &__xl {
    width: 85%;
  }

  &__s{
    width: 30%;
  }

  &__m {
    width: 40%;
  }




}

// /* Imagen dentro del wrapper */
// .carousel__image-wrapper img {
//   width: 100%;
//   height: auto;
//   object-fit: contain; /* o cover si prefieres que recorte */
//   display: block;
// }
</style>