---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import homiLogo from '@/assets/homi-logo.png';
import homiMockup from '@/assets/homi-mockup.png';
import homiPhone from '@/assets/homi-phone.png';
import homiUser from '@/assets/homi-user.png';
import homiUser2 from '@/assets/homi-user-2.png';

import { Image } from 'astro:assets';

import ProjectHeader from '@/components/molecules/projects/ProjectHeader.astro';
import ProjectCases from '@/components/molecules/projects/ProjectCases.astro';
import ProjectPhases from '@/components/molecules/projects/ProjectPhases.astro';
import Carousel from '@/components/atoms/Carousel.vue';
import TableBlock from '@/components/atoms/TableBlock.astro';

import heart from '@/assets/heart.svg';
import lens from '@/assets/lens.svg';
import pencil from '@/assets/pencil.svg';
import phone from '@/assets/phone.svg';
import bulb from '@/assets/bulb.svg';

import homiMk1 from '@/assets/homi-mk-1.png';
import homiMk2 from '@/assets/homi-mk-2.png';
import homiMk3 from '@/assets/homi-mk-3.png';
import homiMk4 from '@/assets/homi-mk-4.png';
import homiMk5 from '@/assets/homi-mk-5.png';
import homiMk6 from '@/assets/homi-mk-6.png';
import homiMk7 from '@/assets/homi-mk-7.png';
import homiMk8 from '@/assets/homi-mk-8.png';
import pomodogMk9 from '@/assets/pomodog-mk-9.png';
import pomodogMk10 from '@/assets/pomodog-mk-10.png';
import pomodogMk11 from '@/assets/pomodog-mk-11.png';
import pomodogMk12 from '@/assets/pomodog-mk-12.png';

const gridItems = [
  { title: 'Habilidad', text: 'UX Research, UI Design, Prototyping, Testing' },
  { title: 'Metodología', text: 'Diseño UX/UI' },
  { title: 'Herramientas', text: 'Figma, Whimsical, Maze' },
  { title: 'Servicio', text: 'Diseño UX/UI, Mobile Design' },
];

const details = [
  { title: 'Challenge', text: 'Debido a la situación actual del mercado de la vivienda, en España el 70% de los jóvenes que se independizan optan por compartir piso, una solución práctica que, sin embargo, puede generar conflictos derivados de diferentes hábitos y estilos de vida' },
  { title: 'Objetivo', text: 'Diseñar una solución digital que facilite la convivencia entre compañeros de piso, mejorando la comunicación, la organización y la gestión de tareas compartidas para reducir conflictos y crear un entorno más equilibrado y positivo' },
];

const phasesBox = [
  {
    icon: heart,
    color: 'var(--color-blue-light)',
    text: 'Empatizar',
  },
  {
    icon: bulb,
    color: 'var(--color-blue-light)',
    text: 'Idear',
  },
  {
    icon: pencil,
    color: 'var(--color-blue-light)',
    text: 'Decidir',
  },
  {
    icon: phone,
    color: 'var(--color-blue-light)',
    text: 'Prototipar',
  },
  {
    icon: lens,
    color: 'var(--color-blue-light)',
    text: 'Testear',
  },
];

const points = [
  {
    title: "Identidad visual cálida y acogedora:",
    text: "Los colores suaves y los acentos vibrantes transmiten cercanía y energía. Homi se siente como un hogar: organizado, pero lleno de vida.",
  },
  {
    title: "Pantallas que invitan a participar:",
    text: "Cada sección —actividades, gastos, perfil y chat— está diseñada para ser clara y motivadora. La interfaz guía sin imponerse, fomentando la colaboración entre compañeros de piso.",
  },
  {
    title: "Construido como un sistema:",
    text: "Bloques modulares y consistentes que funcionan en todas las pantallas. Escalable, sencillo y adaptable a nuevas funcionalidades.",
  },
  {
    title: "Gamificación que conecta:",
    text: "Puntos, recompensas y logros transforman la rutina en motivación. Cada interacción suma, reforzando dinámicas positivas y la sensación de comunidad.",
  },
]

const imagesMasonry = [
  { src: homiMk1, alt: 'Imagen 1 de Pomodog' },
  { src: homiMk2, alt: 'Imagen 2 de Homi' },
  { src: homiMk3, alt: 'Imagen 2 de homi' },
  { src: homiMk4, alt: 'Imagen 2 de homi' },
  { src: homiMk5, alt: 'Imagen 2 de Pomodog' },
  { src: homiMk6, alt: 'Imagen 2 de homi' },
  { src: homiMk7, alt: 'Imagen 2 de homi' },
  { src: homiMk8, alt: 'Imagen 2 de homi' },
  { src: pomodogMk9, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk10, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk11, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk12, alt: 'Imagen 2 de Pomodog' },
];

const phasesData = [
  {
    title: "Fase 1: Empatizar",
    titleWrapper: "Generación de hipótesis",
    text: "Nos enfocamos en entender el reto y el contexto, formulando preguntas clave para guiar el proceso.",
    text2: "Realizamos <span class='color-accent-blue-electric'> brainstorming </span>, creamos un <span class='color-accent-blue-electric'>journey map</span> para visualizar la experiencia del usuario, definimos oportunidades con <span class='color-accent-blue-electric'>“How might we?”</span> y desarrollamos perfiles de personas que representan a nuestros usuarios.",
    tables: [
      { 
        rows: [ 
          "Crear una app o tablero digital para dejar mensajes",
          "Chat interno con recordatorios automáticos sobre gastos",
          "Un sistema de “estado de ánimo del piso”",
          "Espacio semanal para hablar sobre convivencia"
        ],
        headerText: "Comunicación" 
      },
      { 
        rows: [
          "Gamificación: puntos o recompensas por cumplir tareas",
          "Agenda compartida con calendario de limpieza",
          "Rueda de tareas automatizada (rotación visual y notificaciones)",
          "Listas colaborativas para el mantenimiento del piso"
        ], 
        headerText: "Organización y tareas", 
        headerColor: "var(--color-blue-electric)" 
      },
      { 
        rows: [
          "App integrada para dividir gastos automáticamente",
          "Historial visual de pagos y deudas pendientes",
          "Recordatorios para pagos de suministros o alquiler",
          "Panel mensual de gastos del piso (transparente y compartido)"
        ], 
        headerText: "Gestión económica" 
      },
    ],
    table2: [
      { 
        rows: [ 
          "¿Cómo podríamos fomentar la comunicación efectiva para resolver conflictos rápidamente?",
          "¿Cómo podríamos motivar la participación de todos en las tareas y responsabilidades del hogar?",
          "¿Cómo podríamos crear dinámicas divertidas y positivas que refuercen la convivencia?",
        ],
        headerText: "3 mejores HMW" 
      },
    ],
    table3: [
      { 
        rows: [ 
          "¿Cómo podemos ayudar a los compañeros de piso a comunicarse mejor y entenderse?",
          "¿Qué herramientas o dinámicas fomentan una convivencia positiva y saludable?",
          "¿Cómo podemos reducir conflictos derivados de diferencias de hábitos y personalidades?",
        ],
        headerText: "3 mejores preguntas" 
      },
    ],
  },
  {
    title: "Fase 2: Idear",
    titleWrapper: "Construcción de MVP",
    text: "Exploramos referencias y soluciones existentes mediante lightning demos y definimos la identidad corporativa. Y, terminamos con un repaso general y aplicamos la técnica Crazy 8s para generar distintas ideas y enfoques creativos.",
    reverse: true,
    tables: [
      { 
        rows: [ 
          "Temporizador Pomodoro: funcional y personalizable",
          "Cachorro virtual básico: crecimiento ligado a sesiones completadas",
          "Feedback visual y recompensas: animaciones y mensajes motivadores al completar Pomodoro"
        ],
        headerText: "Funcionalidades claves" },
      { 
        rows: [
          "Se descartaron funciones secundarias como personalización avanzada de cachorros o integración social hasta validar el MVP",
        ], 
        headerText: "Decisiones importantes", 
        headerColor: "var(--color-blue-electric)" 
      },
    ],
  },
  {
    title: "Fase 3: Diseño rápido y creación de prototipos",
    titleWrapper: "Prototipo",
    text: "En esta fase se realizaron prototipos iterativos para validar la experiencia de usuario antes de desarrollar el producto completo con la herramienta Figma.",
  },
  {
    title: "Fase 4: Testear",
    titleWrapper: "Testing",
    text: "Se realizaron tests de usabilidad y motivación para validar si las hipótesis se cumplían y la experiencia era efectiva con la herramienta Maze.",
    reverse: true,
  },
];

const images = [homiMk1, homiMk1, homiMk1, homiMk1];

---

<ProjectLayout currentProjectId={1}>
  <ProjectHeader 
  logo={homiLogo}
  title="Homi"
  text="Aplicación para promover una experiencia de convivencia positiva y organizada entre compañeros de piso"
  mockup={homiMockup}
  items={gridItems}
  details={details}
  colorVariant="yellow-light"
  metodologyText="El proceso de investigación y diseño de la aplicación se llevó a cabo mediante la metodología Design Sprint, un proceso intensivo que ayuda a resolver problemas y desarrollar soluciones eficaces de forma rápida y eficiente."
  mockupImage={homiPhone}/>


  <ProjectCases 
  textCaseStudy="HOMI es una app diseñada para mejorar la convivencia entre compañeros de piso a través de la gamificación y la organización compartida. Su objetivo es fomentar dinámicas positivas y equilibradas mediante actividades grupales, gestión de gastos y comunicación efectiva."
  points={points}
  images={imagesMasonry}
  title="Homi"
  />

  <ProjectPhases 
    titleMethodology="Metodología Design Sprint" 
    boxPhases={phasesBox} 
    phases={phasesData}
    backgroundColorContainer="var(--color-yellow-light)">

    <Fragment slot="phase1">
      <Carousel slides={images} autoplay={false} interval={8000} client:load>
        <Fragment slot="slide-0">
          {phasesData[0].tables && phasesData[0].tables.map((table) => (
            <TableBlock
              rows={table.rows}
              headerText={table.headerText}
              headerColor={table.headerColor}
            />
          ))}
        </Fragment>
        <Fragment slot="slide-1">
          {phasesData[0].table2 && phasesData[0].table2.map((table) => (
            <TableBlock
              rows={table.rows}
              headerText={table.headerText}
            />
          ))}
        </Fragment>
        <Fragment slot="slide-2">
          {phasesData[0].table3 && phasesData[0].table3.map((table) => (
            <TableBlock
              rows={table.rows}
              headerText={table.headerText}
            />
          ))}        
        </Fragment>
        <Fragment slot="slide-3">
          <!-- <Image  width={200} src={homiUser} alt="Slide 1" />
          <Image  width={200} src={homiUser2} alt="Slide 1" /> -->

        </Fragment>
      </Carousel>


      
    </Fragment>
  
    <Fragment slot="phase2">
        {phasesData[1].tables && phasesData[1].tables.map((table) => (
          <TableBlock
            rows={table.rows}
            headerText={table.headerText}
            headerColor={table.headerColor}
          />
        ))}
    </Fragment>
  
    <Fragment slot="phase3">
      
    </Fragment>

    <Fragment slot="phase4">
      <Carousel slides={images} autoplay={false} interval={4000} client:load>
        <Fragment slot="slide-0">
          <Image  width={200} src={images[0]} alt="Slide 1" />
        </Fragment>
        <Fragment slot="slide-1">
          <Image width={200}  src={images[1]} alt="Slide 1" />
        </Fragment>
        <Fragment slot="slide-2">
          <Image width={200}  src={images[2]} alt="Slide 1" />
        </Fragment>
      </Carousel>
    </Fragment>

  </ProjectPhases>

</Layout>