---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import pomodog from '@/assets/pomodog-logo.png';
import pomodogMockup from '@/assets/pomodog-mockup.png';
import pomodogPhone from '@/assets/pomodog-phone.png';

import ProjectHeader from '@/components/molecules/projects/ProjectHeader.astro';
import ProjectCases from '@/components/molecules/projects/ProjectCases.astro';
import ProjectPhases from '@/components/molecules/projects/ProjectPhases.astro';
import TableBlock from '@/components/atoms/TableBlock.astro';

import lens from '@/assets/lens.svg';
import pencil from '@/assets/pencil.svg';
import phone from '@/assets/phone.svg';
import bulb from '@/assets/bulb.svg';

import pomodogMk1 from '@/assets/pomodog-mk-1.png';
import pomodogMk2 from '@/assets/pomodog-mk-2.png';
import pomodogMk3 from '@/assets/pomodog-mk-3.png';
import pomodogMk4 from '@/assets/pomodog-mk-4.png';
import pomodogMk5 from '@/assets/pomodog-mk-5.png';
import pomodogMk6 from '@/assets/pomodog-mk-6.png';
import pomodogMk7 from '@/assets/pomodog-mk-7.png';
import pomodogMk8 from '@/assets/pomodog-mk-8.png';
import pomodogMk9 from '@/assets/pomodog-mk-9.png';
import pomodogMk10 from '@/assets/pomodog-mk-10.png';
import pomodogMk11 from '@/assets/pomodog-mk-11.png';
import pomodogMk12 from '@/assets/pomodog-mk-12.png';


const gridItems = [
  { title: 'Habilidad', text: 'UX Research, UI Design, Prototyping, Testing' },
  { title: 'Metodología', text: 'Diseño UX/UI' },
  { title: 'Herramientas', text: 'Figma, Whimsical, Maze' },
  { title: 'Servicio', text: 'Diseño UX/UI, Mobile Design' },
];

const details = [
  { title: 'Challenge', text: 'Debido a la situación actual del mercado de la vivienda, en España el 70% de los jóvenes que se independizan optan por compartir piso, una solución práctica que, sin embargo, puede generar conflictos derivados de diferentes hábitos y estilos de vida' },
  { title: 'Objetivo', text: 'Diseñar una solución digital que facilite la convivencia entre compañeros de piso, mejorando la comunicación, la organización y la gestión de tareas compartidas para reducir conflictos y crear un entorno más equilibrado y positivo' },
];

const points = [
  {
    title: "Identidad visual motivadora:",
    text: "Colores cálidos y detalles ilustrativos transmiten energía y cercanía. POMODOG se siente amigable y divertido, incentivando tanto la concentración como el cuidado de los cachorros.",
  },
  {
    title: "Pantallas que inspiran acción:",
    text: "Cada pantalla —temporizador, planificación, perfil de cachorros y estadísticas— guía al usuario de manera clara y sencilla. La interfaz facilita cumplir tareas, cuidar del cachorro virtual y contribuir a perros reales sin sentirse abrumado.",
  },
  {
    title: "Construido como un sistema:",
    text: "Componentes coherentes y consistentes en todas las pantallas. Escalable, adaptable a nuevas funciones y fácil de mantener. Además de ser accesible con su modo claro/oscuro.",
  },
  {
    title: "Gamificación que motiva:",
    text: "El crecimiento del cachorro virtual, los logros de productividad y la posibilidad de donar a perros reales crean un ciclo de motivación. Cada Pomodoro completado genera satisfacción personal y un impacto tangible en la vida de animales necesitados.",
  },
]

const phasesBox = [
  {
    icon: pencil,
    color: 'var(--color-yellow)',
    text: 'Hipótesis',
  },
  {
    icon: bulb,
    color: 'var(--color-yellow)',
    text: 'MVP',
  },
  {
    icon: phone,
    color: 'var(--color-yellow)',
    text: 'Prototipar',
  },
  {
    icon: lens,
    color: 'var(--color-yellow)',
    text: 'Testear',
  },
];

const imagesMasonry = [
  { src: pomodogMk1, alt: 'Imagen 1 de Pomodog' },
  { src: pomodogMk2, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk3, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk4, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk5, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk6, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk7, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk8, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk9, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk10, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk11, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk12, alt: 'Imagen 2 de Pomodog' },
];

const phasesData = [
  {
    title: "Fase 1: Hipótesis",
    titleWrapper: "Generación de hipótesis",
    text: "Planteamos la hipótesis de que: “Si combinamos la técnica Pomodoro con un cachorro virtual y la posibilidad de donar a perros reales, los usuarios se sentirán más motivados para mantener la concentración y completar sesiones de estudio o trabajo.",
    text2: "Antes de diseñar, definimos hipótesis de producto, negocio y experiencia.",
  },
  {
    title: "Fase 2: MVP",
    titleWrapper: "Construcción de MVP",
    text: "Se desarrolló un Producto Mínimo Viable para probar las hipótesis sin invertir en funcionalidades complejas.",
    reverse: true,
  },
  {
    title: "Fase 3: Diseño rápido y creación de prototipos",
    titleWrapper: "Prototipo",
    text: "En esta fase se realizaron prototipos iterativos para validar la experiencia de usuario antes de desarrollar el producto completo con la herramienta Figma.",
  },
  {
    title: "Fase 4: Testear",
    titleWrapper: "Testing",
    text: "Se realizaron tests de usabilidad y motivación para validar si las hipótesis se cumplían y la experiencia era efectiva con la herramienta Maze.",
    reverse: true,
  },
];

const rowsPhase1 = [
  "Si los usuarios cuidan un cachorro virtual mientras usan la técnica Pomodoro",
  "Aumentarán su tiempo de concentración"
];


---

<ProjectLayout>
  <ProjectHeader 
  logo={pomodog}
  title="Pomodog"
  text="Convierte tus <strong>sesiones de Pomodoro</strong> en motivación para ti y <strong>ayuda para perros</strong> que lo necesitan"
  mockup={pomodogMockup}
  items={gridItems}
  details={details}
  metodologyText="El proceso de investigación y diseño de la aplicación se llevó a cabo mediante la metodología Design Sprint, un proceso intensivo que ayuda a resolver problemas y desarrollar soluciones eficaces de forma rápida y eficiente."
  mockupImage={pomodogPhone}
  colorVariant="blue-light"/>

  <ProjectCases 
  textCaseStudy="Con POMODOG cada Pomodoro cuenta, tanto para tu concentración como para el bienestar de cachorros reales en refugios."
  points={points}
  images={imagesMasonry}
  title="Pomodog"
  />

  <ProjectPhases titleMethodology="Metodología Lean UX" boxPhases={phasesBox} phases={phasesData}>
    <Fragment slot="phase1">
      <TableBlock rows={rowsPhase1} headerText="Hipótesis de producto" />
      <TableBlock rows={rowsPhase1} headerText="Hipótesis de negocio" headerColor="var(--color-blue-electric)"/>
      <TableBlock rows={rowsPhase1} headerText="Hipótesis de experiencia"/>
  
    </Fragment>
  
    <!-- Fase 1 -->
    <div slot="phase-2">
      <img src={pomodogMk1.src} alt="Ejemplo MVP" width="400" height="auto" />
    </div>
  
    <!-- Fase 2 -->
    <div slot="phase-2">
      hola
    </div>
  
    <!-- Fase 3 -->
    <div slot="phase-3">
      <p>Tests realizados con Maze y usuarios reales 🧠🐶</p>
    </div>
  </ProjectPhases>
  
</ProjectLayout>
