---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import pomodog from '@/assets/pomodog-logo.png';
import pomodogMockup from '@/assets/pomodog-mockup.png';
import pomodogPhone from '@/assets/pomodog-phone.png';

import ProjectHeader from '@/components/molecules/projects/ProjectHeader.astro';
import ProjectCases from '@/components/molecules/projects/ProjectCases.astro';
import ProjectPhases from '@/components/molecules/projects/ProjectPhases.astro';
import TableBlock from '@/components/atoms/TableBlock.astro';

import Lens from '@/assets/lens.svg';
import Pencil from '@/assets/pencil.svg';
import Phone from '@/assets/phone.svg';
import Bulb from '@/assets/bulb.svg';

import pomodogMk1 from '@/assets/pomodog-mk-1.png';
import pomodogMk2 from '@/assets/pomodog-mk-2.png';
import pomodogMk3 from '@/assets/pomodog-mk-3.png';
import pomodogMk4 from '@/assets/pomodog-mk-4.png';
import pomodogMk5 from '@/assets/pomodog-mk-5.png';
import pomodogMk6 from '@/assets/pomodog-mk-6.png';
import pomodogMk7 from '@/assets/pomodog-mk-7.png';
import pomodogMk8 from '@/assets/pomodog-mk-8.png';
import pomodogMk9 from '@/assets/pomodog-mk-9.png';
import pomodogMk10 from '@/assets/pomodog-mk-10.png';
import pomodogMk11 from '@/assets/pomodog-mk-11.png';
import pomodogMk12 from '@/assets/pomodog-mk-12.png';

import pomodogMkFull from '@/assets/pomodog-mk-full.png';
import pomodogInteraction1 from '@/assets/pomodog-interaction-1.png';
import pomodogInteraction2 from '@/assets/pomodog-interaction-2.png';
import logoMaze from '@/assets/logo-maze.png';
import mazeScreen from '@/assets/maze-screen.png';
import mazeScreen2 from '@/assets/maze-screen-2.png';

import { Image } from 'astro:assets';


const gridItems = [
  { title: 'Habilidad', text: 'UX Research, UI Design, Prototyping, Testing' },
  { title: 'Metodología', text: 'Diseño UX/UI' },
  { title: 'Herramientas', text: 'Figma, Whimsical, Maze' },
  { title: 'Servicio', text: 'Diseño UX/UI, Mobile Design' },
];

const details = [
  { title: 'Challenge', text: 'Debido a la situación actual del mercado de la vivienda, en España el 70% de los jóvenes que se independizan optan por compartir piso, una solución práctica que, sin embargo, puede generar conflictos derivados de diferentes hábitos y estilos de vida' },
  { title: 'Objetivo', text: 'Diseñar una solución digital que facilite la convivencia entre compañeros de piso, mejorando la comunicación, la organización y la gestión de tareas compartidas para reducir conflictos y crear un entorno más equilibrado y positivo' },
];

const points = [
  {
    title: "Identidad visual motivadora:",
    text: "Colores cálidos y detalles ilustrativos transmiten energía y cercanía. POMODOG se siente amigable y divertido, incentivando tanto la concentración como el cuidado de los cachorros.",
  },
  {
    title: "Pantallas que inspiran acción:",
    text: "Cada pantalla —temporizador, planificación, perfil de cachorros y estadísticas— guía al usuario de manera clara y sencilla. La interfaz facilita cumplir tareas, cuidar del cachorro virtual y contribuir a perros reales sin sentirse abrumado.",
  },
  {
    title: "Construido como un sistema:",
    text: "Componentes coherentes y consistentes en todas las pantallas. Escalable, adaptable a nuevas funciones y fácil de mantener. Además de ser accesible con su modo claro/oscuro.",
  },
  {
    title: "Gamificación que motiva:",
    text: "El crecimiento del cachorro virtual, los logros de productividad y la posibilidad de donar a perros reales crean un ciclo de motivación. Cada Pomodoro completado genera satisfacción personal y un impacto tangible en la vida de animales necesitados.",
  },
]

const phasesBox = [
  {
    icon: Pencil,
    color: 'var(--color-yellow)',
    text: 'Hipótesis',
  },
  {
    icon: Bulb,
    color: 'var(--color-yellow)',
    text: 'MVP',
  },
  {
    icon: Phone,
    color: 'var(--color-yellow)',
    text: 'Prototipar',
  },
  {
    icon: Lens,
    color: 'var(--color-yellow)',
    text: 'Testear',
  },
];

const imagesMasonry = [
  { src: pomodogMk1, alt: 'Imagen 1 de Pomodog' },
  { src: pomodogMk2, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk3, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk4, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk5, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk6, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk7, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk8, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk9, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk10, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk11, alt: 'Imagen 2 de Pomodog' },
  { src: pomodogMk12, alt: 'Imagen 2 de Pomodog' },
];

const phasesData = [
  {
    title: "Fase 1: Hipótesis",
    titleWrapper: "Generación de hipótesis",
    text: "Planteamos la hipótesis de que: “Si combinamos la técnica Pomodoro con un cachorro virtual y la posibilidad de donar a perros reales, los usuarios se sentirán más motivados para mantener la concentración y completar sesiones de estudio o trabajo.",
    text2: "Antes de diseñar, definimos hipótesis de producto, negocio y experiencia.",
    tables: [
      { 
        rows: [ 
          "Si los usuarios cuidan un cachorro virtual mientras usan la técnica Pomodoro",
          "Aumentarán su tiempo de concentración",
        ],
        headerText: "Hipótesis de producto" },
      { 
        rows: [
          "Si la app conecta la productividad con el bienestar animal",
          "Aumentará la retención de usuarios"
        ], 
        headerText: "Hipótesis de negocio", 
        headerColor: "var(--color-blue-electric)" 
      },
      { 
        rows: [
          "Si el usuario recibe feedback visual y emocional del cachorro",
          "Sentirá motivación para completar sesiones de Pomodoro"
        ], 
        headerText: "Hipótesis de experiencia" },
    ],
  },
  {
    title: "Fase 2: MVP",
    titleWrapper: "Construcción de MVP",
    text: "Se desarrolló un Producto Mínimo Viable para probar las hipótesis sin invertir en funcionalidades complejas.",
    reverse: true,
    tables: [
      { 
        rows: [ 
          "Temporizador Pomodoro: funcional y personalizable",
          "Cachorro virtual básico: crecimiento ligado a sesiones completadas",
          "Feedback visual y recompensas: animaciones y mensajes motivadores al completar Pomodoro"
        ],
        headerText: "Funcionalidades claves" },
      { 
        rows: [
          "Se descartaron funciones secundarias como personalización avanzada de cachorros o integración social hasta validar el MVP",
        ], 
        headerText: "Decisiones importantes", 
        headerColor: "var(--color-blue-electric)" 
      },
    ],
  },
  {
    title: "Fase 3: Diseño rápido y creación de prototipos",
    titleWrapper: "Prototipo",
    text: "En esta fase se realizaron prototipos iterativos para validar la experiencia de usuario antes de desarrollar el producto completo con la herramienta Figma.",
  },
  {
    title: "Fase 4: Testear",
    titleWrapper: "Testing",
    text: "Se realizaron tests de usabilidad y motivación para validar si las hipótesis se cumplían y la experiencia era efectiva con la herramienta Maze.",
    reverse: true,
  },
];

const images = [pomodogMk1, pomodogMk1, pomodogMk1];



---

<ProjectLayout currentProjectId={2}>
  <ProjectHeader 
  logo={pomodog}
  title="Pomodog"
  text="Convierte tus <strong>sesiones de Pomodoro</strong> en motivación para ti y <strong>ayuda para perros</strong> que lo necesitan"
  mockup={pomodogMockup}
  items={gridItems}
  details={details}
  metodologyText="El proceso de investigación y diseño de la aplicación se llevó a cabo mediante la metodología Design Sprint, un proceso intensivo que ayuda a resolver problemas y desarrollar soluciones eficaces de forma rápida y eficiente."
  mockupImage={pomodogPhone}
  colorVariant="blue-light"
  colorFirstText="#3B3A4F"
  prototypeLink="https://www.figma.com/design/tqBalum8KArjtjXw9i0brq/Pomodog?node-id=6840-2273&t=bhbM4Yj4XUxVCsI7-1"/>

  <ProjectCases 
  textCaseStudy="Con POMODOG cada Pomodoro cuenta, tanto para tu concentración como para el bienestar de cachorros reales en refugios."
  points={points}
  images={imagesMasonry}
  title="Pomodog"
  />

  <ProjectPhases titleMethodology="Metodología Lean UX" boxPhases={phasesBox} phases={phasesData}>
    <Fragment slot="phase1">
      {phasesData[0].tables && phasesData[0].tables.map((table) => (
        <TableBlock
          rows={table.rows}
          headerText={table.headerText}
          headerColor={table.headerColor}
        />
      ))}
    </Fragment>
  
    <Fragment slot="phase2">
        {phasesData[1].tables && phasesData[1].tables.map((table) => (
          <TableBlock
            rows={table.rows}
            headerText={table.headerText}
            headerColor={table.headerColor}
          />
        ))}
    </Fragment>
  
    <Fragment slot="phase3">
      <Image class="phase3-image" src={pomodogMkFull} alt="Prototipo completo de Pomodog"  />
    </Fragment>

    <Fragment slot="phase4">
      <Image class="phase4__image" src={pomodogInteraction1} alt="Prototipo completo de Pomodog"  />
      <Image class="phase4__image" src={pomodogInteraction2} alt="Prototipo completo de Pomodog"  />
      <div class="phase4__maze-container">
        <div class="phase4__maze-container__images">
          <Image class="phase4__image--logo" src={logoMaze} alt="Logo Maze"  />
          <Image class="phase4__image--screen-1" src={mazeScreen} alt="Maze screen"  />
          <Image class="phase4__image--screen-2" src={mazeScreen2} alt="Maze screen"  />
        </div>
        <p>La tasa de abandono fue del 0%, lo que indica que los usuarios completaron la tarea sin frustración ni bloqueo</p>
        <p>Flujo de tareas es intuitivo y fácil de seguir</p>
        <p>El 33,3 % de clics erróneos sugiere la necesidad de ajustar elementos interactivos o jerarquías visuales</p>
      </div>
    </Fragment>
  
  </ProjectPhases>
  
</ProjectLayout>
<style lang="scss" scoped>
  .phase3-image {
    width: 100%;
    height: auto;
  }

  .phase4 {
  &__image {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 1rem;

    &--logo {
      width: 6.25rem;
      max-width: 100%;
      height: auto;
      margin-bottom: 1rem;
    }
    &--screen-1,
    &--screen-2 {
      width: 100%;
      max-width: 300px;
      height: auto;
      margin-bottom: .5rem;
    }
  }

  &__maze-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-family: $font-poppins;
    margin-left: 2rem;

    &__images {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // gap: 1rem;
      margin-bottom: 1rem;
    }
  }
}

/* MEDIAS QUERIES */
@media screen and (max-width: 1024px) {
  .phase4 {
    &__image {
      max-width: 120px;
    }

    &__maze-container {
      margin-left: 1rem;

      &__images {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

@media (max-width: 768px) {
  .phase3-image {
    max-width: 100%;
  }

  .phase4 {
    &__image {
      max-width: 100px;
    }
  }
}

@media (max-width: 480px) {
  .phase4 {
    &__image {
      max-width: 80px;
      margin-bottom: 0.5rem;
    }

    &__maze-container {
      font-size: 0.8rem;
      gap: 0.5rem;
    }
  }
}
</style>