---
import ProjectLayout from '../../layouts/ProjectLayout.astro';
import posada from '@/assets/hotel-logo.png';
import posadaMockup from '@/assets/posada-mockup.png';
import posadaPC from '@/assets/posada-pc.png';
import { Image } from 'astro:assets';

import ProjectHeader from '@/components/molecules/projects/ProjectHeader.astro';
import ProjectCases from '@/components/molecules/projects/ProjectCases.astro';
import ProjectPhases from '@/components/molecules/projects/ProjectPhases.astro';
import Carousel from '@/components/atoms/Carousel.vue';
import BeforeAfterCarousel from '@/components/molecules/projects/BeforeAfterCarousel.astro';

import Pencil from '@/assets/pencil.svg';
import Phone from '@/assets/phone.svg';

import posadaMk1 from '@/assets/posada-mk-1.png';
import posadaMk2 from '@/assets/posada-mk-2.png';
import posadaMk3 from '@/assets/posada-mk-3.png';
import posadaMk4 from '@/assets/posada-mk-4.png';
import posadaMk5 from '@/assets/posada-mk-5.png';
import posadaMk6 from '@/assets/posada-mk-6.png';
import posadaMk7 from '@/assets/posada-mk-7.png';
import posadaMk8 from '@/assets/posada-mk-8.png';
import posadaMk9 from '@/assets/posada-mk-9.png';
import posadaMk10 from '@/assets/posada-mk-10.png';
import posadaMk11 from '@/assets/posada-mk-11.png';

import posadaTableImg from '@/assets/posada-table-image.png';
import posadaAfter1 from '@/assets/posada-after-1.png';
import posadaAfter2 from '@/assets/posada-after-2.png';
import posadaAfter3 from '@/assets/posada-after-3.png';
import posadaAfter4 from '@/assets/posada-after-4.png';
import posadaAfter5 from '@/assets/posada-after-5.png';
import posadaBefore1 from '@/assets/posada-before-1.png';
import posadaBefore2 from '@/assets/posada-before-2.png';
import posadaBefore3 from '@/assets/posada-before-3.png';
import posadaBefore4 from '@/assets/posada-before-4.png';
import posadaBefore5 from '@/assets/posada-before-5.png';


const gridItems = [
  { title: 'Habilidad', text: 'Heuristic Review, Accessibility, UI Design, Prototypingg' },
  { title: 'Metodología', text: 'Diseño UX/UI' },
  { title: 'Herramientas', text: 'Figma' },
  { title: 'Servicio', text: 'Rediseño Web Design' },
];

const details = [
  { title: 'Challenge', text: 'El sitio web necesitaba un diseño actualizado y moderno que resolviera los problemas de usabilidad y mejorara la experiencia general del usuario. La navegación no era clara, la información era difícil de encontrar y la estructura no facilitaba la navegación.' },
  { title: 'Objetivo', text: 'Optimizar la arquitectura de la información y el diseño visual para ofrecer una navegación fluida, intuitiva y accesible. El objetivo fue mejorar la retención de usuarios y reflejar una identidad digital más actual y coherente.' },
];

const points = [
  {
    title: "Identidad visual limpia y moderna:",
    text: "Se optó por una paleta neutra con acentos vibrantes que transmiten profesionalismo y frescura. El nuevo diseño prioriza la legibilidad y el contraste, logrando una experiencia equilibrada y visualmente atractiva.",
  },
  {
    title: "Navegación clara y jerárquica:",
    text: "El nuevo menú simplifica el acceso a la información más relevante. Cada sección está pensada para guiar al usuario de forma natural, reduciendo clics innecesarios y mejorando la comprensión global del sitio.",
  },
  {
    title: "Diseño modular y coherente:",
    text: "Los componentes visuales fueron rediseñados bajo un sistema escalable que mantiene consistencia entre páginas y facilita futuras actualizaciones.",
  },
  {
    title: "Experiencia centrada en el usuario:",
    text: "El rediseño elimina fricciones y mejora la orientación dentro del sitio. Las acciones clave se vuelven más evidentes, la información más accesible y la experiencia, más fluida y satisfactoria.",
  },
];

const phasesBox = [
  {
    icon: Pencil,
    color: 'var(--color-blue-light)',
    text: 'Análisis',
  },
  {
    icon: Phone,
    color: 'var(--color-blue-light)',
    text: 'Prototipar',
  },

];

const imagesMasonry = [
  { src: posadaMk1},
  { src: posadaMk2 },
  { src: posadaMk3 },
  { src: posadaMk4 },
  { src: posadaMk5 },
  { src: posadaMk6 },
  { src: posadaMk7 },
  { src: posadaMk8 },
  { src: posadaMk9 },
  { src: posadaMk10 },
  { src: posadaMk11 },
];

const phasesData = [
  {
    title: "Fase 1: Análisis",
    titleWrapper: "Análisis Heurístico",
    text: "Un análisis profundo de la navegación, la arquitectura de la información y la usabilidad del sitio, con el objetivo de comprender qué impide una experiencia fluida.",
  },
  {
    title: "Fase 2: Prototipar",
    titleWrapper: "Rediseño",
    text: "Utilicé Figma para crear prototipos de alta fidelidad con diseño visual coherente siguiendo los resultados obtenidos del análisis heurístico.",
    reverse: true,
  }
];

// const beforeImages = [posadaBefore1.src, posadaBefore2.src, posadaBefore3.src, posadaBefore4.src, posadaBefore5.src];
// const afterImages  = [posadaAfter1.src, posadaAfter2.src, posadaAfter3.src, posadaAfter4.src, posadaAfter5.src];


const beforeImages = [
  { img: posadaBefore1 },
  { img: posadaBefore2 }, 
  { img: posadaBefore3 }, 
  { img: posadaBefore4 },
  { img: posadaBefore5 },
];

const afterImages  = [{img: posadaAfter1}, {img: posadaAfter2}, {img: posadaAfter3}, {img: posadaAfter4}, {img: posadaAfter5}];
---

<ProjectLayout currentProjectId={4}>
  <ProjectHeader 
  logo={posada}
  title="Pomodog"
  text="La Posada San Martín es <strong>un alojamiento situado en Cuenca.</strong> Su sitio web necesitaba un rediseño para <strong>mejorar la usabilidad</strong>"
  mockup={posadaMockup}
  items={gridItems}
  details={details}
  metodologyText="Se aplicó un análisis heurístico para identificar problemas de usabilidad y definir oportunidades de mejora. A través de los principios de Nielsen, se evaluaron la consistencia visual, la visibilidad del estado del sistema, el control del usuario y la correspondencia entre el diseño y el modelo mental del usuario."
  mockupImage={posadaPC}
  colorFirstText="#9C0000"
  prototypeLink="https://www.figma.com/design/gyGEzVbvGKc8qBo18pdqs5/Redise%C3%B1o-Posada-San-Mart%C3%ADn--Copy-?node-id=3015-2&t=cR7w1vmNQ7l5YMIw-1"/>

  <ProjectCases 
  textCaseStudy="La POSADA SAN MARTÍN es un alojamiento histórico situado en el corazón de Cuenca. Su rediseño busca reflejar el encanto del edificio medieval mientras mejora la experiencia del usuario con una navegación más intuitiva y una estética cálida y coherente."
  points={points}
  images={imagesMasonry}
  columns={3}
  title="Homi"
  bgColorImg="var(--color-blue-light)"
  />

  <ProjectPhases titleMethodology="Metodología Análisis Heurístico" boxPhases={phasesBox} phases={phasesData}>
    <Fragment slot="phase1">
      <figure class="phase-container__image-wrapper">
        <Image class="phase-container__image" src={posadaTableImg} alt="Homi Análisis Heurístico" />
      </figure>
    </Fragment>

    <Fragment slot="phase2">
      <!-- <Carousel slides={5} autoplay={false} interval={8000} client:load>
        <div class="phase-container__project-wrapper" slot="slide-0">
          <div class="phase-container__compared-container">
            <h6 class="phase-container__compared-container__title">Antes</h6>
            <figure class="phase-container__image-wrapper">
              <Image class="phase-container__image" src={posadaAfter1} alt="Homi Análisis Heurístico" />
            </figure>
          </div>
          <div class="phase-container__compared-container">
            <h6 class="phase-container__compared-container__title">Rediseño</h6>
            <figure class="phase-container__image-wrapper">
              <Image class="phase-container__image" src={posadaAfter1} alt="Homi Análisis Heurístico" />
            </figure>
          </div>
        </div>
      </Carousel> -->
    <Carousel slides={5} autoplay={false} interval={8000} client:load>
      <div class="phase-container__project-wrapper" slot="slide-0">
        <BeforeAfterCarousel beforeImages={beforeImages[0]} afterImages={afterImages[0]}/>
      </div>
      <div class="phase-container__project-wrapper" slot="slide-1">
        <BeforeAfterCarousel beforeImages={beforeImages[1]} afterImages={afterImages[1]}/>
      </div>
      <div class="phase-container__project-wrapper" slot="slide-2">
        <BeforeAfterCarousel beforeImages={beforeImages[2]} afterImages={afterImages[2]}/>
      </div>
      <div class="phase-container__project-wrapper" slot="slide-3">
        <BeforeAfterCarousel beforeImages={beforeImages[3]} afterImages={afterImages[3]}/>
      </div>
      <div class="phase-container__project-wrapper" slot="slide-4">
        <BeforeAfterCarousel beforeImages={beforeImages[4]} afterImages={afterImages[4]}/>
      </div>
    </Carousel>
    </Fragment>
  </ProjectPhases>
</Layout>
<style lang="scss" scoped>
.phase-container {
  &__project-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
  }

  &__compared-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;

    &__title {
      margin-bottom: .5rem;
      font-size: $font-size-md;
      font-weight: 600;
      color: $color-blue-electric;
      font-family: $font-poppins;
      text-transform: uppercase;
    }
  }


  &__image-wrapper {
    width: 100%;
    max-width: 45rem;
    height: auto;
    margin-bottom: .5rem;

    &__l {
      width: 70%;
    }

    &__xl {
      width: 85%;
    }

    &__s{
      width: 30%;
    }


    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
    }
  }
}
</style>