---
import smile from '@/assets/smile.svg';
import arancini from '@/assets/arancini.png';
import futbol from '@/assets/futbol.png';
import surf from '@/assets/surf.png';
import bosque from '@/assets/bosque.png';

import arrow1 from '@/assets/arrow-c-1.svg';
import arrow2 from '@/assets/arrow-c-2.svg';
import arrow3 from '@/assets/arrow-c-3.svg';

import kala1 from '@/assets/kala.png';
import kala2 from '@/assets/kala2.png';
import kala3 from '@/assets/kala3.png';


---
<section class="about-me" id="about-me">
  <img class="about-me__image" src={smile.src} alt="box" />
  <h2 class="about-me__title">Detrás de los píxeles</h2>

  <div class="about-me__text about-me__text--1">
    <p>
      Y, ahora te dejo un pedacito de mi yo real.
    </p>
    <p>Bienvenidx a mi mundo.</p>
    <br/>
    <p>Nací en Madrid, la ciudad que nunca deja de inspirarme con su mezcla de historia, vida urbana y rincones sorprendentes.</p>
    <br/>
    <p>Soy apasionada del fútbol (corro detrás del balón en mi equipo), si hay olas, me verás surfeando️ y si hay una montaña, seguro que estoy explorando.</p>
  </div>

  <div class="about-me__pictures">
    
    <img class="about-me__pictures__arrow about-me__pictures__arrow--1" src={arrow1.src} alt="arrow" />
    <img class="about-me__pictures__arrow about-me__pictures__arrow--2" src={arrow2.src} alt="arrow" />
    <img class="about-me__pictures__arrow about-me__pictures__arrow--3" src={arrow3.src} alt="arrow" />


    <img class="about-me__pictures__photo about-me__pictures__photo--1" src={arancini.src} alt="arancini">
    <img class="about-me__pictures__photo about-me__pictures__photo--2" src={futbol.src} alt="futbol">
    <img class="about-me__pictures__photo about-me__pictures__photo--3" src={surf.src} alt="surf">
    <img class="about-me__pictures__photo about-me__pictures__photo--4" src={bosque.src} alt="bosque">

  </div>
  <div class="about-me__text about-me__text--2">
    <p>Y no estoy sola en estas locuras.</p>
    <br/>
    <p>Esta es mi compañera de vida; Kala. Ella es mi copiloto oficial, mi crítica de diseño silenciosa y la que asegura que nunca pierdo la energía para la siguiente aventura.</p>
  </div>
  <div class="about-me__pictures">
    
    <img class="about-me__pictures__arrow-2 about-me__pictures__arrow-2--1" src={arrow1.src} alt="arrow" />
    <img class="about-me__pictures__arrow-2 about-me__pictures__arrow-2--2" src={arrow2.src} alt="arrow" />


    <img class="about-me__pictures__photo about-me__pictures__photo--5" src={kala1.src} alt="arancini">
    <img class="about-me__pictures__photo about-me__pictures__photo--6" src={kala2.src} alt="futbol">
    <img class="about-me__pictures__photo about-me__pictures__photo--7" src={kala3.src} alt="bosque">

  </div>
</section>
<style lang="scss" scoped>
  .about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__image {
      width: 2.5rem;
    }

    &__title {
      font-size: $font-size-xl;
      font-weight: 100;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &__text {
      font-family: $font-poppins;
      font-size: $font-size-md;
      font-weight: 300;
      margin-bottom: 5rem;
      text-align: center;

      @media (max-width: 480px) {
        font-size: $font-size-base;
      }

      &--1 {
        width: 70%;
        margin-bottom: 5rem;
        @media (max-width: 480px) {
          width: 100%;
          padding-inline: 2.5rem;
        }
      }

      &--2 {
        width: 65%;
        margin-bottom: 5rem;

        @media (max-width: 480px) {
          width: 100%;
          padding-inline: 2.5rem;
        }
      }
    }
    

    &__pictures {
      position: relative;
      display: flex;
      justify-content: center; 
      align-items: center; 
      gap: 2rem; 
      margin-bottom: 2rem;

      @media (max-width: 480px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem; 
        margin-inline: 2.5rem;
      }

      &__photo {
        width: 14%;
        height: auto;
        object-fit: cover; 
        
        @media (max-width: 480px) {
          width: 100%;
        }
          
        &--1 {
        }

        &--2 {
          padding-top: 3rem;
          @media (max-width: 480px) {
            padding-top: 0;
          }
        }

        &--3 {
          padding-bottom: 1.5rem;
        }
        &--4 {
          padding-bottom: 8rem;
          
          @media (max-width: 480px) {
            padding-bottom: 0;
          }
        }

        &--6 {
          padding-top: 5rem;
          width: 18%;
          @media (max-width: 480px) {
            width: 100%;
            padding-top: 0;
          }
        }
        &--7 {
          @media (max-width: 480px) {
            margin-left: 5rem;
          }
        }
      }

      &__arrow {
        position: absolute;
        width: 2.5rem;

        &--1 {
          top: 4rem;
          left: 32%;
          transform: rotate(145deg);
        }

        &--2 {
          bottom: 2.5rem;
          left: 48.5%;
          transform: rotate(35deg);
        }

        &--3 {
          top: 2rem;
          right: 31%;
          transform: rotate(-88deg);
        }

        @media (max-width: 480px) {
          display: none;
        }
      }

      &__arrow-2 {
        position: absolute;
        width: 2.5rem;

        &--1 {
          top: 5rem;
          left: 38%;
          transform: rotate(140deg);
        }

        &--2 {
          bottom: 2rem;
          right: 38%;
          transform: rotate(35deg);
        }
        @media (max-width: 480px) {
          display: none;
        }
      }

    }
  }
</style>