---
import paper from '@/assets/paper.svg';

import arrow1 from '@/assets/arrow-c-1.svg';
import arrow2 from '@/assets/arrow-c-1.svg';
import arrow3 from '@/assets/arrow-c-3.svg';


const jobs = [
  {
    company: "Lexy",
    role: "UX/UI Designer",
    dates: "May 2025 – Actualmente",
  },
  {
    company: "Competize",
    role: "UX/UI Designer",
    dates: "Feb 2024 – Mar 2025",
  },
  {
    company: "Brand Dawson",
    role: "Graphic Designer",
    dates: "Abr 2025 – Jul 2025",
  },
];

---

<section class="chapters">

  <img class="chapters__image" src={paper.src} alt="paper" />

  <h2 class="chapters__title">Los capítulos de mi carrera</h2>
  <p class="chapters__text">Cada uno de mis capítulos ha tenido un aprendizaje que me ha ayudado a crecer como diseñadora digital y a crear con un propósito</p>

  <div class="chapters__container">

    <img class="chapters__container__arrow chapters__container__arrow--1" src={arrow1.src} alt="arrow" />
    <img class="chapters__container__arrow chapters__container__arrow--2" src={arrow2.src} alt="arrow" />
    <img class="chapters__container__arrow chapters__container__arrow--3" src={arrow3.src} alt="arrow" />


     <!-- Textos rojos -->
     <p class="chapters__container__note chapters__container__note--1">
      Creé el producto digital<br />desde cero
    </p>

    <p class="chapters__container__note chapters__container__note--2">
      Trabajé con metodologías <br /> como ágiles para entender a los usuarios y<br />diseñar soluciones efectivas
    </p>

    <p class="chapters__container__note chapters__container__note--3">
      Fusioné UX/UI y diseño gráfico<br />para crear experiencias que se<br />sienten tan fáciles como bonitas
    </p>

    <table class="chapters__table">
      {jobs.map((job) => (
        <tr>
          <td>{job.company}</td>
          <td>{job.role}</td>
          <td>{job.dates}</td>
        </tr>
      ))}
    </table>

  </div>

</section>


<style lang="scss" scoped>
  .chapters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;

    &__image {
      width: 3rem;
    }

    &__title {
      font-size: $font-size-xl;
      font-weight: 100;
      margin-top: 2rem;
      margin-bottom: 2rem;
    }

    &__text {
      font-family: $font-poppins;
      font-size: $font-size-md;
      font-weight: 300;
      width: 60%;
      margin-bottom: 10rem;
      text-align: center;

      @media (max-width: 768px) {
        width: 90%;
        font-size: 0.95rem;
        margin-bottom: 4rem;
      }

      @media (max-width: 480px) {
        width: 65%;
        font-size: $font-size-base;
      }
    }


    &__container {
      width: 75%;
      margin-bottom: 6rem;
      position: relative;

      @media (max-width: 1024px) {
        width: 85%;
      }

      @media (max-width: 768px) {
        width: 95%;
        margin-bottom: 0rem;
      }

      &__arrow {
        position: absolute;
        width: 2.5rem;

        &--1 {
          top: -2rem;
          left: 7rem;
        }

        &--2 {
          top: 3rem;
          right: -3rem;
          transform: rotate(66deg);
        }

        &--3 {
          bottom: -5rem;
          left: 13rem;
        }

        @media (max-width: 480px) {
          display: none;
        }
      }

      &__note {
      position: absolute;
      font-family: $font-libre;
      font-size: $font-size-base;
      color: $color-red;
      text-align: center;
      line-height: 1.5;

      &--1 {
        top: -6rem;
        left: 0rem;
        transform: rotate(-10deg);
      }

      &--2 {
        top: -2.5rem;
        right: -16rem;
        transform: rotate(26deg);
      }

      &--3 {
        bottom: -11rem;
        left: 8rem;
        transform: rotate(-8deg);
      }

      @media (max-width: 480px) {
        display: none;
      }
    }

    }

    &__table {
      width: 100%;
      border-collapse: collapse;
      font-family: $font-poppins;
      font-size: $font-size-md;
      font-weight: 300;


      @media (max-width: 480px) {
        font-size: $font-size-xs;
      }

      & tr {
        border-bottom: 1px dashed $color-black;
      }

      & td {
        padding: 2rem 0rem 0.5rem 0; 

        &:first-child {
          border-bottom: none;
          padding-right: 5rem;

        }

        &:nth-child(2) {
          padding-right: 5rem;
        }

        // &:nth-child(3) {
        //   text-align: left;
        // }

        @media (max-width: 480px) {
          padding: 1rem 0.5rem 0.5rem 1rem; 
        }
      }

    }
  }

</style>