---
import sun from '@/assets/sun.svg';
import pomodog from '@/assets/pomodog-frame.png';
import homi from '@/assets/homi-frame.png';
import lexy from '@/assets/lexy-frame.png';
import hotel from '@/assets/hotel-frame.png';
import footfem from '@/assets/footfem-frame.png';
import tiempo from '@/assets/tiempo-frame.png';
import { fade } from 'astro:transitions';

import { Image } from 'astro:assets';

const projects = [
  {
    id: 1,
    title: 'Homi',
    image: homi,
    color: 'var(--color-yellow-light)',
    link: '/projects/homi',
  },
  {
    id: 2,
    title: 'Pomodog',
    image: pomodog,
    color: 'var(--color-blue-light)',
    link: '/projects/pomodog',
  },
  {
    id: 3,
    title: 'Lexy',
    image: lexy,
    color: 'var(--color-yellow-light)',
    link: '/projects/lexy',
  },
  {
    id: 4,
    title: 'Posada de San Martin',
    image: hotel,
    color: 'var(--color-blue-light)',
    link: '/projects/posada-de-san-martin',
  },
  {
    id: 5,
    title: 'Footfem',
    image: footfem,
    color: 'var(--color-yellow-light)',
    link: '/projects/footfem',
  },
  {
    id: 6,
    title: 'Retratos del tiempo',
    image: tiempo,
    color: 'var(--color-blue-light)',
    link: '/projects/retratos-del-tiempo',
  },
];

--- 
<section class="projects" id="projects">

    <img class="projects__image" src={sun.src} alt="sun" />

    <h2 class="projects__title">Entra en mi hogar digital</h2>
    <div class="projects__grid">

      {projects.map((project) => (
        <a
          href={`${import.meta.env.SITE}${project.link}`}
          class="project-card"
          style={`--bg-color: ${project.color}`}
          transition:animate={fade({ duration: '0.4s' })}
        >
          <Image src={project.image} alt={project.title} />
        </a>
      ))}
    </div>
</section>

<style lang="scss" scoped>
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block: 9rem;
  margin-inline: 6rem;

  &__image {
    width: 4rem;
  }

  &__title {
    font-size: $font-size-xl;
    font-weight: 100;
    margin-top: 2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    width: 100%;
    margin-top: 4rem;
  }

  @media (max-width: 1024px) {
      margin: 2rem 0.5rem;

    }

    /* Móviles */
    @media (max-width: 640px) {
      margin: 6rem 2rem; 
    }
}

.project-card {
  position: relative;
  height: 18.3rem;
  overflow: hidden;
  background-color: var(--bg-color);
  cursor: pointer;
  transition: transform 0.4s ease, box-shadow 0.4s ease;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  // &__overlay {
  //   position: absolute;
  //   inset: 0;
  //   background-color: var(--overlay-color, rgba(0,0,0,0.3));
  //   transition: background-color 0.4s ease;
  // }

  &:hover .project-card__overlay {
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__title {
    position: absolute;
    bottom: 1rem;
    left: 1rem;
    color: #fff;
    font-size: 1.2rem;
    font-weight: 400;
    z-index: 2;
  }
  @media (max-width: 768px) {
    height: 7rem;
}
}

@media (max-width: 1024px) {
  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
   
  }
}

@media (max-width: 768px) {
  .projects__grid {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.5rem;
  }
}

.project-card img {
  width: 100%;
  height: 100%;
  object-fit: cover; // ❌ se asegura que cubra todo sin deformarse
  display: block;
}
</style>