---
import Header from '@/components/molecules/Header.astro';
import Footer from '@/components/molecules/Footer.astro';
import Hero from '@/components/molecules/Hero.astro';
import MoreProjects from '@/components/molecules/projects/MoreProjects.astro';

import flowerLeft from '@/assets/flower-left.svg';
import flowerRight from '@/assets/flower-right.svg';
import favicon from '@/assets/flower-blue.svg';
import { ClientRouter } from 'astro:transitions';

import Heart from '@/assets/heart.svg';
import Arrow from '@/assets/arrow-right.svg';

import '../styles/global.scss';
import ArrowButton from '@/components/atoms/ArrowButton.astro';


const { currentProjectId } = Astro.props;

const projects = [
  { id: 1, title: 'Homi', link: '/projects/homi' },
  { id: 2, title: 'Pomodog', link: '/projects/pomodog' },
  { id: 3, title: 'Lexy', link: '/projects/lexy' },
  { id: 4, title: 'Hotel', link: '/projects/posada-de-san-martin' },
	{ id: 5, title: 'Footfem', link: '/projects/footfem' },
	{ id: 6, title: 'Retratos del tiempo', link: '/projects/retratos-del-tiempo' },

];

const currentIndex = projects.findIndex(p => p.id === currentProjectId);
// Calcular los índices anterior y siguiente de manera circular
const prevIndex = (currentIndex - 1 + projects.length) % projects.length;
const nextIndex = (currentIndex + 1) % projects.length;

// Obtener los proyectos anterior y siguiente
const prevProject = projects[prevIndex];
const nextProject = projects[nextIndex];
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />
		{import.meta.env.PUBLIC_ENV === 'prod' && localStorage.getItem('cookieConsent') === 'true' && (
      <script type="text/javascript">
        (function(c,l,a,r,i,t,y){
            c[a]=c[a]||function(){ (c[a].q=c[a].q||[]).push(arguments) };
            t=l.createElement(r); t.async=1; t.src="https://www.clarity.ms/tag/TU_ID";
            y=l.getElementsByTagName(r)[0]; y.parentNode.insertBefore(t,y);
        })(window, document, "clarity", "script");
      </script>
    )}
		<ClientRouter />
		<title>Andrea</title>
	</head>
	<body>
		<Header/>
		<div class="container container--project">
			<img class="container__flower container__flower--left" src={flowerLeft.src} alt="Flor izquierda" />
			<img class="container__flower container__flower--right" src={flowerRight.src} alt="Flor derecha" />
			<Hero>
				<h3 class="hero__subtitle">
					Proyecto
				</h3>
				<div class="hero__grid">
					<p class="hero__text">¿Qué diseño?</p>
					<Arrow class="hero__arrow"  width={62}/>
					<p class="hero__text">Experiencias digitales para personas</p>

					<p class="hero__text">¿Cómo diseño?</p>
					<Arrow class="hero__arrow"  width={62}/>
					<p class="hero__text">Aplicando la empatía</p>

					<p class="hero__text">¿Por qué diseño?</p>
					<Arrow class="hero__arrow" width={62}/>
					<p class="hero__text">Para un futuro más humano</p>

				</div>		
			</Hero>
			<slot />
		</div>
		<div class="text-coming">
			<Heart class="heart-icon"/>
			<p>pronto habrá más</p>
		</div>
		<MoreProjects 
			prevLink={prevProject?.link} 
			nextLink={nextProject?.link} 
		/>
		<Footer/>
		<ArrowButton id="scroll-top-btn" />
	</body>

</html>

<style lang="scss" scoped>
	.container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
	overflow-x: hidden; 
	overflow-y: hidden;

	&--project {

		& .container__flower {
    position: absolute;
    top: 20rem;
    transform: translateY(-50%);
		width: clamp(8rem, 30vw, 22rem);
		height: auto;

		@media (max-width: 768px) {
			display: none;
		}

    &--left {
      left: 0; 
    }

    &--right {
      right: 0;
    }
  }
	}

 
}

.hero {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__subtitle {
    font-size: $font-size-2xl;
    font-weight: 400;
    margin-bottom: 2.5rem;
  }

  &__text {
    font-size: $font-size-base;
    font-family: $font-poppins;
    font-weight: 300;
    line-height: 1.5rem;
    // width: 70%;
		@media (max-width: 768px) {
			font-size: $font-size-xs;
			line-height: 1.2rem;
		}
  }

	&__grid {
		display: grid;
		grid-template-columns: 0.5fr 0fr 1fr; /* 3 columnas de igual tamaño */
		grid-template-rows: 1fr 1fr 1fr;  
		// margin-bottom: 4rem;
    align-items: center;
		text-align: left;
		gap: 1.25rem;

		@media (max-width: 768px) {
			gap: 0rem;
			padding-inline: 2rem;
			text-align: center;	
		}

	}

	&__arrow {
		margin-right: 1rem;

		@media (max-width: 768px) {
			width: 2rem;
			margin-right: 0.5rem;
			margin-left: 0.5rem;

		}
	}
}

.text-coming{
	display: flex;
	gap: 1rem;
	font-family: $font-poppins;
	font-size: $font-size-md;
	margin-bottom: 20rem;
	align-items: center;
	justify-content: center;

	@media (max-width: 768px) {
		font-size: $font-size-sm;
		margin-bottom: 8rem;
		
	}
}

.heart-icon {
	color: $color-red;
}

</style>
